run = "npm start"
hidden = [".config", "node_modules"]
entrypoint = "server/index.ts"

[nix]
channel = "stable-22_11"

[env]
XDG_CONFIG_HOME = "/home/runner/.config"
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[workflows]
runButton = "Start Application"

[[workflows.workflow]]
name = "Start Application Fixed"
author = 39927844
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow]]
name = "Start Application"
author = 39927844
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x start.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./start.sh"
